{% extends 'catalog_list/base.html' %}

{% block content %}

    <h3 class="text-center mt-5">Изменить публичные данные аккаунта</h3>
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {% for f in form %}
                <div class="mb-4">
                    <label>{{ f.label }}</label>
                    {{ f }}
                </div>
            {% endfor %}
    <div class="d-flex flex-column justify-content-center align-items-center my-5">
        <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
        <a href="{{ profile.get_absolute_url }}" class="btn btn-secondary" role="button">Назад</a>
    </div>
    </form>
    </div>

{% endblock content %}