{%  load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header class="p-3 bg-dark text-white sticky-top">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% for option in menu %}
                    {% if cuurent_menu == option.url_name %}
                    <li class="nav-link px-2 text-secondary">{{ option.title }}</li>
                    {% else %}
                    <li><a href="{% url option.url_name %}" class="nav-link px-2 text-white">{{ option.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <form action="{% url 'search' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="get">
              <input name="q" type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search" required>
            </form>
            {% if not request.user.is_authenticated %}
            <div class="text-end">
              <a href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2">Войти</a>
              <a href="{% url 'register' %}" type="button" class="btn btn-warning">Регистрация</a>
            </div>
            {% else %}
            <div class="text-end">
              <span class="mx-3">{{ user.username }}</span>
              <a href="{% url 'logout' %}" type="button" class="btn btn-warning">Выйти</a>
            </div>
            {% endif %}

          </div>
        </div>
      </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container">
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        {% for option in menu %}
            <li class="nav-item"><a href="{% url option.url_name %}" class="nav-link px-2 text-muted">{{ option.title }}</a></li>
        {% endfor %}
    </ul>
    <p class="text-center"><a class="text-decoration-none" href="https://github.com/devShev">© 2022 	&lt;DevShev&gt;</a></p>
    <p class="text-center text-muted">Simple pet-project</p>
  </footer>
    </div>
</body>
</html>