{%  load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header class="p-3 bg-dark text-white sticky-top">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% for option in menu %}
                    {% if cuurent_menu == option.url_name %}
                    <li class="nav-link px-2 text-secondary">{{ option.title }}</li>
                    {% else %}
                    <li><a href="{% url option.url_name %}" class="nav-link px-2 text-white">{{ option.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <form action="{% url 'search' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="get">
              <input name="q" type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Поиск..." aria-label="Search" required>
            </form>

            {% if not request.user.is_authenticated %}
            <button type="button" class="d-flex flex-row align-items-center btn btn-success me-3" role="button" disabled>
                <img class="text-center align-items-center me-1" alt="" src="https://content.kufar.by/static/frontend/svg/plus.svg" height="16" width="16">
                <span>Создать объявление</span>
            </button>

            <div class="text-end">
              <a href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2" role="button">Войти</a>
              <a href="{% url 'register' %}" type="button" class="btn btn-warning" role="button">Регистрация</a>
            </div>
            {% else %}
            <a href="{% url 'create' %}" type="button" class="d-flex flex-row align-items-center btn btn-success me-3 btn-circle" role="button">
                <img class="text-center align-items-center me-1" alt="" src="https://content.kufar.by/static/frontend/svg/plus.svg" height="16" width="16">
                <span>Создать объявление</span>
            </a>
                <div class="d-flex flex-row">
            <span class="d-flex text-center align-items-center mx-3">{{ user.username }}</span>
            <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
            <li><a class="dropdown-item" href="{% url 'create' %}">Создать объявление</a></li>
            <li><a class="dropdown-item" href="#">Профиль TODO</a></li>
            <li><a class="dropdown-item" href="#">Настройки TODO</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
          </ul>
        </div>
                </div>

            </div>
            {% endif %}

          </div>
        </div>
      </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container">
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        {% for option in menu %}
            <li class="nav-item"><a href="{% url option.url_name %}" class="nav-link px-2 text-muted">{{ option.title }}</a></li>
        {% endfor %}
    </ul>
    <p class="text-center"><a class="text-decoration-none" href="https://github.com/devShev">© 2022 	&lt;DevShev&gt;</a></p>
    <p class="text-center text-muted">Simple pet-project</p>
  </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>